.card{
    margin: 0 center;
    background-color: #AEAEAE;
}

.card-header{
    text-align: center;
}

h5{
    text-align: center;
    color: black;
    font-weight: bold;
}

.alert{
    text-align: center;
}

.info{
    color: black;
    font-size: 14px;
    font-weight: bold;
 }

 
  


